.App {
  text-align: center;
  font-family: 'Play', sans-serif;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  max-height: 40vmin;
  pointer-events: none;
  position: relative;
}

.App-header {
  background-color: blueviolet;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-body {
  font-family: 'Play', sans-serif;
  background-color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 5%;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
